* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-color: rgba(180, 179, 179, 0.952);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1em;
}

.citation {
    width: 100%;
    background-color: white;
    color: rgba(0, 0, 0, 0.664);
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    position: relative;
}

p {
    font-style: italic;
    padding: 10px 10px;
}

small {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

i {
    position: absolute;
    top: 5px;
    left: 5px;
}

i.fa-regular.fa-star {
    color: gold;
    font-size: 20px;
    cursor: pointer;
}

i.fa-solid.fa-star {
    color: gold;
    font-size: 20px;
    cursor: pointer;
}