* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-color: rgba(180, 179, 179, 0.952);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1em;
}

.citation {
    width: 100%;
    background-color: white;
    color: rgba(0, 0, 0, 0.664);
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.citation .title {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}

.citation .content {
    font-style: italic;
    padding: 10px 10px;
}

.citation .author {
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.citation .heart {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.citation .heart i.active {
    color: red;
}

.citation .i {
    color: rgba(0, 0, 0, 0.664);
    font-size: 20px;
    cursor: pointer;
}

