* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-color: rgba(180, 179, 179, 0.952);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.citation {
    width: 100%;
    background-color: white;
    color: rgba(0, 0, 0, 0.664);
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
}

p {
    font-style: italic;
    padding: 10px 0px;
}

small {
    font-family: 'Courier New', Courier, monospace;
}

small .author {

}